{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="padding: 20px;">
            <div class="d-flex flex-wrap p-2 col-8 row">
                <div class="mr-2 col-6 detail">
                    <div class="card">
                        <div class="fas fa-home fa-fw" style="font-size: 2em;"></div>
                        <div class="card-body">
                            <h5 class="card-title">Report</h5>
                            <p class="card-text">Chức năng tóm tắt báo cáo khen thưởng</p>
                        </div>
                    </div>
               </div>
               <div class="mr-2 col-6 detail">
                   <div class="card">
                       <div class="fas fa-home fa-fw" style="font-size: 2em;"></div>
                       <div class="card-body">
                           <h5 class="card-title">Chart</h5>
                           <p class="card-text">So sánh đơn giá của các trang web đăng ký</p>
                       </div>
                   </div>
               </div>
                <div class="mr-2 col-6 detail">
                    <div class="card">
                        <div class="fas fa-home fa-fw" style="font-size: 2em;"></div>
                        <div class="card-body">
                            <h5 class="card-title">Search</h5>
                            <p class="card-text">Tìm kiếm một vài đơn giá đặc biệt</p>
                        </div>
                    </div>
               </div>
               <div class="mr-2 col-6 detail">
                   <div class="card">
                       <div class="fas fa-home fa-fw" style="font-size: 2em;"></div>
                       <div class="card-body">
                           <h5 class="card-title">ASP</h5>
                           <p class="card-text">Đăng ký ASP</p>
                       </div>
                   </div>
               </div>
               <div class="mr-2 col-6 detail">
                   <div class="card">
                       <div class="fas fa-home fa-fw" style="font-size: 2em;"></div>
                       <div class="card-body">
                           <h5 class="card-title">Video</h5>
                           <p class="card-text">Tài liệu hội thảo và video</p>
                       </div>
                   </div>
               </div>
               <div class="mr-2 col-6 detail">
                   <div class="card">
                       <div class="fas fa-home fa-fw" style="font-size: 2em;"></div>
                       <div class="card-body">
                           <h5 class="card-title">Seminar</h5>
                           <p class="card-text">Tham gia hội thảo</p>
                       </div>
                   </div>
               </div>
               <div class="mr-2 col-6 detail">
                   <div class="card">
                       <div class="fas fa-home fa-fw" style="font-size: 2em;"></div>
                       <div class="card-body">
                           <h5 class="card-title">Friend</h5>
                           <p class="card-text">Giới thiệu bạn bè liên kết</p>
                       </div>
                   </div>
               </div>
               <div class="mr-2 col-6 detail">
                   <div class="card">
                       <div class="fas fa-home fa-fw" style="font-size: 2em;"></div>
                       <div class="card-body">
                           <h5 class="card-title">Service</h5>
                           <p class="card-text">Sử dụng các dịch vụ liên kết</p>
                       </div>
                   </div>
               </div>
               <div class="mr-2 col-6 detail">
                   <div class="card">
                       <div class="fas fa-home fa-fw" style="font-size: 2em;"></div>
                       <div class="card-body">
                           <h5 class="card-title">Email</h5>
                           <p class="card-text">Xem các email đã gửi trước đây</p>
                       </div>
                   </div>
               </div>

            </div>
            <div class="col-4" style="padding: 14px">
                <h5 class="ranking-info-title">BẢNG XẾP HẠNG</h5>
                <div class="ranking-info-content">
                    <p class="mb-0 fz-16">nickname</p>
                    <p class="mb-0 fz-16">thứ hạng của bạn ngày hôm qua</p>
                    <div class="info-1 ">
                        <p class="mb-0">
                            <span class="red fw-600 fz-20">
                                -
                            </span>trong số 0 người
                        </p>
                        <p class="mb-0">cập nhật: 08/09 16:44 </p>
                    </div>
                    <div class="group-button row">
                        <a class="btn btn-primary key" href="/rankings/setting">cài đặt</a>
                        <a class="btn btn-primary key" href="/rankings/">chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
