{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="">
    <div class="container" style="margin-left: 19%; margin-top: 2%">
        <div class="container">
            <div class="d-flex flex-wrap p-2" style="width:87%; ">
                <div class="mr-2 w-m detail">
                    <a href="#" class="text-inherit" >
                        <div class="card" style="background: #0ac282; color: white; height: 153px;">
                            <div class="card-body">
                                <h5 class="card-title">Report</h5>
                                <p class="card-text">Chức năng tóm tắt báo cáo khen thưởng</p>
                                <a href="#" class="card-link">Xem thêm</a>
                            </div>
                        </div>
                    </a>
               </div>
               <div class="mr-2 w-m detail">
                   <a href="#" class="text-inherit">
                       <div class="card" style="background: #63C7FF; color: white; height: 153px;">
                           <div class="card-body">
                               <h5 class="card-title">Chart</h5>
                               <p class="card-text">So sánh đơn giá của các trang web đăng ký</p>
                               <a href="#" class="card-link">Xem thêm</a>
                           </div>
                       </div>
                   </a>
               </div>
                <div class="mr-2 w-m detail">
                    <a href="#" class="text-inherit">
                        <div class="card" style="background: #A66DD4; color: white; height: 153px;">
                            <div class="card-body">
                                <h5 class="card-title">Search</h5>
                                <p class="card-text">Tìm kiếm một vài đơn giá đặc biệt</p>
                                <a href="#" class="card-link">Xem thêm</a>
                            </div>
                        </div>
                    </a>
               </div>
               <div class="mr-2 w-m detail">
                   <a href="#" class="text-inherit">
                       <div class="card" style="background: #6DD4B1; color: white; height: 153px;">
                           <div class="card-body">
                               <h5 class="card-title">ASP</h5>
                               <p class="card-text">Đăng ký ASP</p>
                               <a href="#" class="card-link">Xem thêm</a>
                           </div>
                       </div>
                   </a>
               </div>
               <div class="mr-2 w-m detail">
                   <a href="#" class="text-inherit">
                       <div class="card" style="background: #fe9365; color: white; height: 153px;">
                           <div class="card-body">
                               <h5 class="card-title">Video</h5>
                               <p class="card-text">Tài liệu hội thảo và video</p>
                               <a href="#" class="card-link">Xem thêm</a>
                           </div>
                       </div>
                   </a>
               </div>
               <div class="mr-2 w-m detail">
                   <a href="#" class="text-inherit">
                       <div class="card" style="background: #fe5d70; color: white; height: 153px;">
                           <div class="card-body">
                               <h5 class="card-title">Semina</h5>
                               <p class="card-text">Tham gia hội thảo</p>
                               <a href="#" class="card-link">Xem thêm</a>
                           </div>
                       </div>
                   </a>
               </div>
               <div class="mr-2 w-m detail">
                   <a href="#" class="text-inherit">
                       <div class="card" style="background: #43a047; color: white; height: 153px;">
                           <div class="card-body">
                               <h5 class="card-title">Friend</h5>
                               <p class="card-text">Giới thiệu bạn bè liên kết</p>
                               <a href="#" class="card-link">Xem thêm</a>
                           </div>
                       </div>
                   </a>
               </div>
               <div class="mr-2 w-m detail">
                   <a href="#" class="text-inherit">
                       <div class="card" style="background: #9c27b0; color: white; height: 153px;">
                           <div class="card-body">
                               <h5 class="card-title">Service</h5>
                               <p class="card-text">Sử dụng các dịch vụ liên kết</p>
                               <a href="#" class="card-link">Xem thêm</a>
                           </div>
                       </div>
                   </a>
               </div>
               <div class="mr-2 w-m detail">
                   <a href="#" class="text-inherit">
                       <div class="card" style="background: #333; color: white; height: 153px;">
                           <div class="card-body">
                               <h5 class="card-title">Email</h5>
                               <p class="card-text">Xem các email đã gửi trước đây</p>
                               <a href="#" class="card-link">Xem thêm</a>
                           </div>
                       </div>
                   </a>
               </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
